/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Take full height of the viewport */
}

.payment-container {
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.payment-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
}

.form-group input[type="radio"] {
    margin-right: 10px;
    vertical-align: middle;
}

.form-group img {
    width: 30px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add some spacing between the image and the text */
    margin-bottom: 0px;
}

/* Alignment styles */
.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.sum {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cen{
    margin-top: 50px;
}

.payment-summary{
    line-height: 2px;
}

/* Button styles */
button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #69727b;
}

.error-text {
    color: red;
}
